In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

# Lithium

In [4]:
# Load data source #1 - Lithium prices in USD per kilogram
df1 = pd.read_csv('/Users/michal/Documents/Code/metals/data/Lithium_prices_2017-01-01_to_2021-12-31_merged.csv')
df1['Date'] = pd.to_datetime(df1['Date'])
df1['Price'] = df1['Price'].astype(float)
df1 = df1.drop(columns=['Unit'])
df1.head()

        Date  Price
0 2017-05-10  20.92
1 2017-05-11  20.92
2 2017-05-12  20.92
3 2017-05-15  20.92
4 2017-05-16  20.92